html {
  height: 100%;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.link {
  text-decoration: none;
}

.top {
  text-align: center;
}

.harharcss {
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
}

.father {
  display: none;
}

.flashbangcss {
  display: block;
  margin: 0 auto;
}